/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --title-h1-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #000028;
  --bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --item-color: #FF0070;
  --button-text-color: #FF0070;
  --button-border-color: #FF007066;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
