/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-h1-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --bg-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --item-color: #353430;
  --button-text-color: #353430;
  --button-border-color: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
  --title-h1-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --bg-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --item-color: #353430;
  --button-text-color: #353430;
  --button-border-color: #32312D66;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__block-absolut {
  display: none;
}