/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  width: 100%;
  background-image: var(--background-image);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  padding-bottom: 22px;
}

.header::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--item-color);
  border-left: 1px solid var(--item-color);
  bottom: 11px;
  left: 10px;
}

.header::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--item-color);
  border-right: 1px solid var(--item-color);
  top: 10px;
  right: 10px;
}

.header__block-absolut {
  position: absolute;
  color: var(--accent-color, #FF0070);
  display: flex;
  font-family: IBM Plex mono, sans-serif;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  right: 12px;
  top: 11px;
}

.header__block-absolut::after {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(../images/Ellipse.png);
  background-position: center;
  background-size: cover;
  margin-block-start: 1px;
}

.header__theme-menu {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: flex-end;
  margin-right: 9px;
  margin-top: 31px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  width: 70px;
  height: 26px;
  font-family: IBM Plex mono, sans-serif;
  color: var(--button-text-color, #FF0070);
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    border: 1px solid var(--button-text-color, #FF0070);
  }
}

.header__theme-menu-button:focus-visible {
  outline-color: var(--button-text-color);
  outline-width: 1px;
  outline-style: solid;
}

.header__title {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: IBM Plex mono, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  align-self: flex-end;
  color: var(--title-h1-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  padding-left: 11px;
  padding-top: 24px;
}

.header__text {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: flex-end;
  align-self: center;
  margin-top: 12px;
  margin-right: 9px;
  width: 355px;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--accent-color-text, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 2px;
}

.content {
  width: 100%;
  background-color: var(--bg-color, #000028);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-inline: 10px;
}

.section:first-of-type {
  padding-top: 40px;
}

.section-accent {
  padding-inline: 10px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color, #FF0070);
}

.section__text {
  margin-block-start: 18px;
}

.article {
  margin-top: 20px;
}

.article__title {
  font-weight: 400;
}

.article__text {
  font-size: 18px;
  font-weight: 400;  
  color: var(--text-color, #F1B2CE);
  line-height: 23.4px;
  margin-top: 10px;
}

.article__link {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (hover: hover) {
  .article__link:hover {
  border-bottom: 1px solid var(--text-color);
}
}

.article__link:focus-visible {
  outline-color: var(--text-color);
  outline-style: solid;
  outline-offset: 1px;
}

.article-accent {
  margin-top: 21px;
}

.section-gallery {
  padding-bottom: 41px;
  padding-bottom: 9px;
  padding-inline: 10px;
}

.section-gallery-img {
  width: 100%;
  margin-top: 6px;
}

.footer {
  width: 100%;
  height: 694px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  font-family: IBM Plex mono, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-h1-color, #DB00FF);
  text-shadow: 3px 3px 0 var(--accent-color, #FF0070);
  padding-block-start: 30px;
}

.footer::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 38px;
  right: 9px;
}

.footer::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 9px;
  left: 11px;
}

@media (width >= 768px) {
  .content {
    row-gap: 70px;
  }

  .section:first-of-type {
    padding-top: 60px;
  }

  .header {
  padding-bottom: 158px;
}

  .header__block-absolut {
    top: 21px;
   right: 21px;
  }
  
  .header::after {
    top: 21px;
    right: 19px;
  }

  .header::before {
    bottom: 20px;
    left: 21px;
  }

  .header__theme-menu {
    margin-right: 19px;
    margin-top: 191px;
  }

  .header__title {
    padding-left: 1px;
    padding-bottom: 15px;
  }

  .header__text {
    align-self: end;
    margin-right: 19px;
    margin-bottom: 25px;
    width: 364px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    padding-inline: 20px;
    column-gap: 20px;
  }

  .section-accent {
    padding-inline: 19px;
    padding-inline: 19px;
    padding-block-start: 10px;
    padding-block-end: 8px;
  }

  .section__title {
    grid-column: 1/2;
    grid-row: 1 / 3;
  }

  .section__text {
    margin-block-start: 0;
  }

  .section__title--accent {
    width: 200px;
}

  .section__text.title-decor {
    margin-bottom: 20px;
  }

  .article {
    grid-column: 2/3;
  }

  .section > .article:first-of-type {
    margin-top: 0;
  }

  .section-gallery {
    padding-inline: 20px;
    padding-block-end: 69px;
    margin-block-start: 9px;
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    gap: 20px;
  }

  .section-gallery-img {
    margin-top: 0;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 100%;
    object-fit: cover;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 100%;
    object-fit: cover;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 100%;
    object-fit: cover;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    object-fit: cover;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    height: 1013px;
  }

  .footer__title {
    padding-block-start: 0px;
    padding-block-end: 5px;
  }

  .footer::after {
    right: 19px;
    top: 10px;
  }

  .footer::before {
    bottom: 19px;
    left: 21px;
  }
}

@media (width >= 1024px) {
  .header {
    padding-bottom: 95px;
  }

  .header__title {
    padding-left: 0px;
    margin-block-start: 90px;
    font-size: 157px;
  }

  .header__text {
    margin-bottom: 40px;
    width: 48vw;
  }

  .header__theme-menu-list {
    flex-direction: row;
    column-gap: 10px;
  }

  .header__theme-menu  {
    justify-self: center;
    align-self: flex-start;
    margin-right: 0;
    margin-top: 19px;
  }

  .section {
    column-gap: 11px;
  }

  .section-accent {
    padding-inline: 19px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .article-accent {
    margin-block-start: 22px;
  }

  .article-accent--left {
    grid-column: 1 / 2;
  }

  .article-accent--center {
    grid-column: 2 / 3;
  }

  .article-accent--right {
    grid-column: 3 / 4;
  }

  .section__title--accent {
    width: 270px;
    grid-column: 1 / 2;
  }

  .footer {
    height: 760px;
  } 

  .footer__title {
    font-size: 157px;
    padding-block-end: 7px;
  }

  .footer::before {
    bottom: 20px;
    left: 20px;
  }

  .footer::after {
    right: 20px;
    top: 12px;
  }
}